<tr class="footer" width="100%">
    <td>
      <table style="margin-top: 20px; margin-bottom: 20px;">
        <tr class="two-columns">
          <td class="column">
            <p class="text" style="font-size: 2rem;text-align: left;" >Download the App</p>
            <p class="text" style="text-align: left;">
              Get our mobile app on any device you use on the App Store or
              Google Playstore
            </p>
             <table style="text-align: center;">
              <tr style="text-align: center;">
                  <td>
                      <a href="#">
                          <img width="156" height="48" src="https://www.noirl.app/images/email/app_store.png" />
                      </a>
                  </td>

                  <td>
                      <a href="#">
                          <img width="156" height="48"src="https://www.noirl.app/images/email/google_play.png" />
                      </a>
                  </td>
              </tr>
          </table>
          </td>
          <td class="column">
            <img
              width="50%"
              src="https://www.noirl.app/images/email_template.png"
              style="max-width: 200px; width: 100%"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <p class="text" style="color: #6a7282; text-align: center; margin-top: 20px;">
        For any feedback or inquiries, get in touch with
      </p>
      <p class="text" style="color: #6a7282; text-align: center">
        us at support@noirl.app
      </p>
      <p class="text" style="color: #6a7282; text-align: center">
        Copyright © Noirl. 2023 All rights reserved.
      </p>
   
    </td>
  </tr>
  <tr>
   <table style="text-align: center; width: 100%; margin-top: 10px;">
      <tr>
          {% comment %} <td>
              <a href="#">
                <img width="32" height="32" src="https://www.noirl.app/images/socials/facebook.png" />
              </a>
            </td> {% endcomment %}
  
            {% comment %} <td>
              <a href="https://www.tiktok.com/@cavebirmingham?_t=ZM-8yNL9XWSrYr&_r=1">
                <img width="32" height="32" src="https://www.noirl.app/images/socials/x.png" />
              </a>
            </td> {% endcomment %}
  
            {% comment %} <td>
              <a href="https://www.instagram.com/cavebirmingham?igsh=aWF3enZoa2RrbDdy">
                <img width="32" height="32" src="https://www.noirl.app/images/socials/instagram.png" />
              </a>
            </td> {% endcomment %}
      </tr>
   </table>
  </tr>
</table>
</center>
</body>
</html>