{% include "helpers/header.html" %}




<tr class="bordered" width="100%">
    <td>
      <p class="text">Hi {{ name }},</p>
      <h4 class="text" style="font-size: 32px">
        Welcome to Noirl! 🎉
      </h4>
      <p class="text">
        Welcome to Noirl! You're now part of a community that believes a great night out shouldn't mean compromising on safety. From drink insights to instant SOS alerts, we've got you covered every step of the way.
      </p>
    </td>
  </tr>

{% include "helpers/footer.html" %}
